@font-face {
    font-family: "DrukTextWideCyrHeavyItalic";  
    src: url("../fonts//Druk\ Text\ Wide\ Cyr\ Heavy\ Italic.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}

@font-face {
    font-family: "NeueMachina";  
    src: url("../fonts//NeueMachina-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}

@font-face {
    font-family: "NeueMachinaUltrabold";  
    src: url("../fonts//NeueMachina-Ultrabold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
}

.mobile-img {
    display: none;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url("../images/bg.png");
    background-size: cover;
    color: white;
    overflow: hidden;
}

.wrapper__upper-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-image: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0.79) 21%, rgba(0, 0, 0, 0) 100%);
    opacity: 0.6;
    z-index: 8;
}

.wrapper__bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    z-index: 8;
}

.wrapper__bottom-shadow {
    height: 150px;
    width: 100%;
    background-image: linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0) 100%);
}

.wrapper__additional-shadow {
    width: 1299px;
    height: 140px;
    background-image: url("../images/footer-shadows.png");
    margin: 0 auto;
}

.wrapper__large-shadow {
    width: 100%;
    height: calc((100vh - 750px) / 3);
    background-image: linear-gradient(to top, #000 0%, rgb(0, 0, 0) 100%);
}

.wrapper__bg-circle {
    position: absolute;
    top: 0;
    left: 358px;
    width: 33%;
}

.wrapper__bg-circle::after {
    content: "";
    position: absolute;
    transform: translateY(-57%);
    left: 0;
    width: 100%;
    padding-top: 100%;
    min-width: 400px;
    min-height: 400px;
    background-image: url("../images/bg-circle.png");
    background-size: cover;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 500px;
    width: 1440px;
    padding: 42px 48px 0 48px;
    margin: 0 auto;
}

.circle {
    position: absolute;
}

.circle::after {
    background-size: cover;
}

.circle_first {
    top: 50%;
    left: 75%;
    width: calc(100% / 7.2);
    animation: animation__circle_first 10s ease-in-out;
    animation-iteration-count: infinite;
    z-index: 5;
}

@keyframes animation__circle_first {
    0% { transform: translateY(-400px); }
    50% { transform: translateY(150px); }
    100% { transform: translateY(-400px); }
}

.circle_first::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 100%;
    background-image: url("../images/blue-circle.png");
}

.circle_second {
    top: 70%;
    left: 35%;
    width: calc(100% / 15);
    z-index: 5;
}

.circle_second::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 100%;
    background-image: url("../images/blue-circle.png");
    animation: animation__circle_second 24s linear;
    animation-iteration-count: infinite;
}

@keyframes animation__circle_second {
    0% { transform: translate(0, 0); }
    15% { transform: translate(-50%, -120%); }
    35% { transform: translate(-120%, -280%); }
    50% { transform: translate(-170%, -500%); }
    60% { transform: translate(-165%, -360%); }
    73% { transform: translate(-160%, -240%); }
    83% { transform: translate(-125%, -100%); }
    93% { transform: translate(-50%, -20%); }
    100% { transform: translate(0, 0); }
}

.circle_third {
    top: 65%;
    left: 85%;
    width: calc(100% / 12);
    z-index: 5;
}

.circle_third::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 100%;
    background-image: url("../images/blue-circle.png");
    animation: animation__circle_third 24s linear;
    animation-iteration-count: infinite;
}

@keyframes animation__circle_third {
    0% { transform: translate(0, 0); }
    10% { transform: translate(-100%, 35%); }
    20% { transform: translate(-200%, 70%); }
    30% { transform: translate(-450%, 105%); }
    40% { transform: translate(-550%, 140%); }
    50% { transform: translate(-650%, 175%); }
    60% { transform: translate(-550%, 140%); }
    70% { transform: translate(-450%, 105%); }
    80% { transform: translate(-200%, 70%); }
    90% { transform:translate(-100%, 35%); }
    100% { transform:translate(0, 0); }
}

.logo {
    position: relative;
    flex: 10% 0 0;
    display: flex;
    align-items: center;
    z-index: 10;
}

.logo img {
    height: 39px;
    width: 258px;
}

.free-likes {
    position: relative;
    flex: 90% 0 0;
    display: flex;
    padding-top: 10vh;
    z-index: 10;
}

.free-likes__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.free-likes__text {
    font-size: 48px;
    text-transform: uppercase;
    font-family: "DrukTextWideCyrHeavyItalic";
}

.likes {
    display: inline-flex;
    color:rgba(0, 0, 0, 0.22);
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    font-size: 97px;
}

.likes__before {
    flex: 60px 0 0;
    padding-left: 5px;
    margin-right: -15px;
    overflow: hidden;
    text-overflow: hidden;
    width: 30px;
}

.likes__after {
    position: relative;
    margin-left: 20px;
}

.likes__text {
    position: relative;
    color: #f8ff13;
    -webkit-text-stroke: 2px #f8ff13;
}

.likes__shadow {
    position: absolute;
    top: 0;
    left: -10px;
}

.free-likes__button::after {
    display: inline;
}

.free-likes__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.free-likes__button {
    position: relative;
    top: 0;
    left: 0;
    margin: 30px 0 0 10px;
    border: 0;
    background-color: transparent;
    width: 477px;
    height: 86px;
    color: black;
    font-size: 26px;
    font-family: "DrukTextWideCyrHeavyItalic";
    text-transform: uppercase;
    cursor: pointer;
    transition: 
        top 0.3s ease,
        left 0.3s ease,
        color 0.3s ease;
    z-index: 10;
}

.free-likes__button::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    height: 100%;background-color: #0000002d;
    border: white 1px solid;
    transform: skewX(-10deg);
    transition: 
        top 0.3s ease,
        left 0.3s ease;
    z-index: 10;
}

.free-likes__button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;background-color: #f8ff13;
    transform: skewX(-10deg);
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    z-index: 10;
}

.free-likes__button:hover {
    top: 10px;
    left: 10px;
}

.free-likes__button:hover::before {
    top: 0;
    left: 0;
}

.free-likes__button:active {
    color: white;
}

.free-likes__button:active::after {
    background-color: transparent;
}

.free-likes__button span {
    position: relative;
    z-index: 11;
}

.free-likes__addition-info {
    margin-top: 35px;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}

.reward {
    position: relative;
    flex: 20% 0 0;
    z-index: 10;
}

.reward__container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.reward__img {
    height: 70px;
    width: 35px;
}

.reward__info {
    margin-left: 12px;
    max-width: 240px;
    
}

.reward__main-text {
    font-size: 21px;
    line-height: 23px;
    font-family: "NeueMachinaUltrabold";
}

.reward__add-text {
    font-size: 8px;
    color: #ffffff65;
    font-family: "NeueMachina";
}

.best-frontend {
    position: relative;
    flex: 80% 0 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 49px;
    line-height: 53px;
    font-family: "DrukTextWideCyrHeavyItalic";
}

.best-frontend__castle {
    position: absolute;
    bottom: -80px;
    left: 80px;
    width: 100%;
    z-index: 4;
}

.best-frontend__knight {
    position: absolute;
    top: -140px;
    left: -120px;
    width: 70%;
    transition: transform 0.1s ease;
    z-index: 6;
}

.best-frontend__circle {
    display: none;
    position: absolute;
    top: 400px;
    left: 80px;
    width: 170px;
    height: 170px;
    background-image: url("../images/circle.png");
    z-index: 9;
}

.best-frontend__text {
    position: relative;
    margin-top: 35vh;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}

.best-frontend__text .first-word {
    display: inline;
}

.best-frontend__text .second-word {
    display: inline;
}

.best-frontend__text .third-word {
    padding-left: 30px;
}

.best-frontend__text_front {
    position: relative;
    top: 0;
    left: 0;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    color: transparent;
    text-shadow: 0 0 55px rgba(0, 0, 0, 0.49);
    z-index: 10;
}

.best-frontend__text_rear {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-text-stroke: 2px white;
    color: white;
    z-index: 5;
}

.footer {
    position: relative;
    flex: 75px 0 0;
    z-index: 10;
    margin: 0 auto;
}

.footer__shadow {
    content: "";
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 648px;
    background-image: linear-gradient(to top, #000000 6%, #000000 13%, rgba(0, 0, 0, 0) 100%);
    opacity: 0.8;
    z-index: 4;
}

.footer__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    padding: 25px 39px;
}

.footer__container img {
    padding: 16px;
}

.footer__left {
    position: relative;
    display: flex;
    z-index: 10;
}

.footer__right {
    position: relative;
    display: flex;
    z-index: 10;
}